@import './colors.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  overflow: hidden;
  background: $off-white;
  font-family: 'Rubik', sans-serif;
}

.left-mark {
  width: 510px;
  height: 1018px;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(233, 66, 255, 1) 0%,
    rgba(136, 56, 255, 1) 100%
  );
  border-radius: 255px;
  position: absolute;
  top: calc(-318px - ((100vh - 800px) * 1.3));
  left: calc(-90px + ((100vw - 1440px) / 4.7));
}

@media (max-width: 1440px) {
  .left-mark {
    // top: calc(-318px - ((100vh - 800px)));
  }
}

.right-mark {
  width: 510px;
  height: 1018px;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(233, 66, 255, 1) 0%,
    rgba(136, 56, 255, 1) 100%
  );
  opacity: 0.03;
  border-radius: 255px;
  position: absolute;
  top: calc(90px + ((100vh - 800px) * 2.3));
  right: calc(-185px + ((100vw - 1440px) / 7));
  float: right;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
