//Text
$pale-violet: hsl(276, 100%, 81%); //sub-heading at the top of the app UI
$moderate-violet: #9241c8; //chat on the left
$desaturated-dark-violet: hsl(271, 15%, 43%); //chat on the right
$grayish-blue: hsl(206, 6%, 79%); //placeholder text
$very-dark-desaturated-violet: hsl(271, 36%, 24%); //main heading
$dark-greyish-violet: hsl(270, 7%, 64%); //paragraph

// Background Gradient
$light-magenta: hsl(293, 100%, 63%);
$light-violet: hsl(264, 100%, 61%);

//Secondary
$white: hsl(0, 0%, 100%);
$off-white: #fafafa; //page background
$light-greyish-violet: hsl(270, 20%, 96%); //app background
$very-dark-desaturated-violet: hsl(271, 36%, 24%); //submit button background
$very-light-magenta: hsl(289, 100%, 72%); //radio button outline
$box-purple: rgba(62, 39, 83, 0.25);
$very-light-violet: #eee5f4; //left chat background
